@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #636481;
}
* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	color: #f6f6f6;
}
a {
	text-decoration: none;
}
